* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --GREEN200LIGHT: hsl(148, 38%, 91%);
  --GREEN600MEDIUM: hsl(169, 82%, 27%);
  --RED: hsl(0, 66%, 54%);

  --WHITE: hsl(0, 0%, 100%);
  --GREY500MEDIUM: hsl(186, 15%, 59%);
  --GREY900DARKER: hsl(187, 24%, 22%);

  --DARKGREENHOVER: hsla(160, 89%, 11%, 0.973);
}

body {
  font-family: 'Karla', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--GREEN200LIGHT);
}

main {
  background-color: var(--WHITE);
  padding: 1rem;
  color: var(--GREY900DARKER);
  border-radius: 15px;
  max-width: 700px;
  width: 80%;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

form {
  margin-top: 1rem;
  width: 100%;
}

.star {
  color: var(--GREEN600MEDIUM);
}

/* SUCCESS MESSAGE */

.success__message {
  background-color: var(--GREY900DARKER);
  color: var(--WHITE);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.success__header {
  display: flex;
  gap: 0.5rem;
}

.success__head__p {
  font-weight: 700;
}

.success__text {
  font-weight: 400;
  opacity: 0.8;
}

.hidden {
  display: none;
}

/* ERRORS */

.error__msg {
  display: none;
  color: var(--RED);
  font-size: 0.8rem;
}

/* INPUTS */

.div__margin {
  margin-bottom: 1.5rem;
}

.input__field {
  padding: 0.9rem;
  border-radius: 5px;
  border: 1px solid var(--GREY500MEDIUM);
  margin-top: 0.7rem;
}

input[type='text'],
input[type='email'],
textarea {
  outline: none;
}

input[type='radio'],
input[type='checkbox'] {
  accent-color: var(--GREEN600MEDIUM);
  cursor: pointer;
}

.input__field:hover {
  border: 1px solid var(--GREEN600MEDIUM);
}

.input__field:focus {
  border: 1px solid var(--GREEN600MEDIUM);
}

.flex__column {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.query__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

fieldset legend {
  margin-bottom: 0.7rem;
}

fieldset .radio__input {
  border: 1px solid var(--GREY500MEDIUM);
  border-radius: 5px;
  padding: 1rem;
}

fieldset .radio__input:hover {
  border: 1px solid var(--GREEN600MEDIUM);
  background-color: var(--GREEN200LIGHT);
}

textarea {
  height: 4rem;
}

/* SUBMIT BUTTON */

.submit__btn {
  border: none;
  border-radius: 10px;
  background-color: var(--GREEN600MEDIUM);
  color: var(--WHITE);
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  margin-top: 2rem;
}

.submit__btn:hover {
  background-color: var(--DARKGREENHOVER);
}
@media (min-width: 670px) {
  .names {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
  }

  .query__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
  }
}
