* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --GREEN200LIGHT: hsl(148, 38%, 91%);
  --GREEN600MEDIUM: hsl(169, 82%, 27%);
  --RED: hsl(0, 66%, 54%);

  --WHITE: hsl(0, 0%, 100%);
  --GREY500MEDIUM: hsl(186, 15%, 59%);
  --GREY900DARKER: hsl(187, 24%, 22%);

  --DARKGREENHOVER: hsla(160, 89%, 11%, 0.973);
}

body {
  font-family: 'Karla', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--GREEN200LIGHT);
}

main {
  background-color: var(--WHITE);
  padding: 1rem;
  color: var(--GREY900DARKER);
  border-radius: 15px;
}

/* ERRORS */

.error__msg {
  display: none;
}

/* INPUTS */

.input__field {
  padding: 0.4rem;
  border-radius: 10px;
}

.flex__column {
  display: flex;
  flex-direction: column;
}

/* SUBMIT BUTTON */

.submit__btn {
  border: none;
  border-radius: 10px;
  background-color: var(--GREEN600MEDIUM);
  color: var(--WHITE);
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
}

.submit__btn:hover {
  background-color: var(--DARKGREENHOVER);
}
